@page
@model SalesWPFApp_RazorPages.Pages.Categories.UpdateModel
@{
}

<form method="post" enctype="multipart/form-data" class="w-75 mx-auto my-4">
    <div class="mb-3">
        <label asp-for="category.Name" class="form-label">Category Name</label>
        <input asp-for="category.Name" class="form-control" />
        <span asp-validation-for="category.Name" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-success">Submit</button>
</form>