@page
@model SalesWPFApp_RazorPages.Pages.LoginModel
@{
    ViewData["Title"] = "Login";
}

<div class="container mt-5">
    <h2>Login</h2>
    <div>
        <p class="text-danger">
            @Html.ValidationSummary()
        </p>
    </div>
    <form method="post">
        <div class="form-group">
            <label asp-for="Input.Email" class="control-label"></label>
            <input asp-for="Input.Email" class="form-control" />
            <span asp-validation-for="Input.Email" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Input.Password" class="control-label"></label>
            <input asp-for="Input.Password" type="password" class="form-control" />
            <span asp-validation-for="Input.Password" class="text-danger"></span>
        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-primary">Login</button>
        </div>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}